@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Basic&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap'); */

body {
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Comic Sans MS", cursive, sans-serif; */
  /* font-family: 'Basic', sans-serif; */
/* font-family: 'EB Garamond', serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(17 24 39 / 1); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ComicSansMSFont {
  font-family: "Comic Sans MS", cursive, sans-serif;
}



.custom-white-bg{
  background-color: #E9F2FE;
}


.custom-yellow-bg{
  background: #FEE084;
}

.custom-red-bg{
  background-color: #DF829D;
}

.custom-blue-bg{
  background-color: #83B8DB;
}


input:hover, 
textarea:hover, 
button:hover,
textarea:active, 
button:active,
input:active, 
.btn:active,
.btn.active,
input:focus,
button:focus,
label:focus,
textarea:focus
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}